@font-face{font-family:'DaxComp-BoldRegular';src:url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-bold-webfont.eot');src:url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-bold-webfont.eot?#iefix') format('embedded-opentype'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-bold-webfont.woff') format('woff'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-bold-webfont.ttf') format('truetype'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-bold-webfont.svg#DaxComp-BoldRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'DaxCompRegular';src:url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-webfont.eot');src:url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-webfont.eot?#iefix') format('embedded-opentype'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-webfont.woff') format('woff'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-webfont.ttf') format('truetype'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-webfont.svg#DaxCompRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'DaxComp-ItaRegular';src:url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-ita-webfont.eot');src:url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-ita-webfont.eot?#iefix') format('embedded-opentype'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-ita-webfont.woff') format('woff'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-ita-webfont.ttf') format('truetype'),url('http://www.altair.com/include-header-footer/includes/corp/fonts/daxcomp-ita-webfont.svg#DaxComp-ItaRegular') format('svg');font-weight:normal;font-style:normal;}

/* ==========================================================================
Altair DAX Fonts
========================================================================== */
@font-face {
    font-family: 'DaxCompactWeb-Bold';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb-Bold/DaxCompactWeb-Bold.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb-Bold/DaxCompactWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb-Bold/DaxCompactWeb-Bold.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb-Bold/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxCompactWeb';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb/DaxCompactWeb.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb/DaxCompactWeb.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb/DaxCompactWeb.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxCompactWeb/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxWeb-Bold';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Bold/DaxWeb-Bold.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Bold/DaxWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Bold/DaxWeb-Bold.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Bold/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxScWeb-Bold';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Bold/DaxScWeb-Bold.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Bold/DaxScWeb-Bold.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Bold/DaxScWeb-Bold.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Bold/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxWeb';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb/DaxWeb.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb/DaxWeb.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb/DaxWeb.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxScWeb';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb/DaxScWeb.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb/DaxScWeb.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb/DaxScWeb.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxWeb-Ita';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Ita/DaxWeb-Ita.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Ita/DaxWeb-Ita.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Ita/DaxWeb-Ita.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxWeb-Ita/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DaxScWeb-Ita';
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Ita/DaxScWeb-Ita.eot');
    src: url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Ita/DaxScWeb-Ita.eot?#iefix') format('embedded-opentype'),
         url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Ita/DaxScWeb-Ita.woff') format('woff');
         /* url('http://www.altair.com/include-header-footer/includes/corp/fonts/DaxScWeb-Ita/filename.svg#svgid') format('svg'); */
    font-weight: normal;
    font-style: normal;
}





/* ==========================================================================
   Base styles:opinionated defaults
   ========================================================================== */
.corp html,
.corp button,
.corp input,
.corp select,
.corp textarea{color:#000;}
.corp body{font-family:Arial,Helvetica,sans-serif;font-size:1em;line-height:1.4;min-width:1024px;}
.corp ::-moz-selection{background:#00A4E4;color:#FFF;text-shadow:none;}
.corp ::selection{background:#00A4E4;color:#FFF;text-shadow:none;}
.corp hr{display:block;height:1px;border:0;border-top:1px solid #CCC;margin:1em 0;padding:0;}
.corp img{vertical-align:middle;}
.corp fieldset{border:0;margin:0;padding:0;}
.corp textarea{resize:vertical;}
.corp a:focus{outline:none;}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.corp .chromeframe{margin:0.2em 0;background:#CCC;color:#000;padding:0.2em 0;}

/* ==========================================================================
.corp    Altair Product Design 2013 - Media Genesis
.corp    ========================================================================== */
.corp figure{margin:0;}
.corp a{color:#00A4E4;text-decoration:none;}
.corp a:hover{text-decoration:underline;}
.corp header#corpHeader,
.corp #slideshow,
.corp #explore,
.corp #stories,
.corp #videos,
.corp #social,
.corp footer{width:100%;}
.corp header#corpHeader,
.corp #explore{border-bottom:1px solid #DFDFDF;}
.corp #explore h2,
.corp #stories h2,
.corp #videos h2{font-family:'DaxWeb';font-size:26px;height:30px;text-align:center;text-transform:uppercase;}
.corp section{margin:0 auto;position:relative;width:872px;}
.corp header#corpHeader{background:#FFF;border-bottom:1px solid #5E5C5C;box-shadow:0px 0px 4px 0px rgba(0,0,0,0.7);height:92px;left:0;position:fixed;top:0;z-index:100;}
.corp header#corpHeader #corporate{background:#5E5C5C;color:#FFF;cursor:default;height:40px;width:100%;}
.corp header#corpHeader section{width:1024px;}
.corp header#corpHeader h1{background:url(img/bg_corporate.png) no-repeat 0 0;float:left;height:29px;margin:5px 0 6px 0;width:107px;}
.corp header#corpHeader h1 a{display:block;height:100%;width:100%;}
.corp header#corpHeader h1 a:hover{text-decoration:none;}
.corp .company{float:left;font-family:'DaxCompactWeb';font-size:22px;height:35px;padding:5px 10px 0 10px;width:auto;}
.corp .company a{color:#FFF;text-decoration:none;}
.corp .logo{display:none;float:left;height:54px;width:200px;}
.corp .languages{cursor:pointer;float:right;font-size:11px;height:29px;padding:11px 22px 0 0;text-align:right;width:145px;}
.corp .languages a{display:block;color:#FFF;height:29px;width:120px;}
.corp .languages a span{padding-left:8px;}
.corp .languages div.drop{background-color:rgb(95%,95%,95%);background-color:rgba(255,255,255,0.90);border:1px solid #818285;-webkit-box-shadow:0px 0px 4px 2px rgba(0,0,0,0.25);box-shadow:0px 0px 4px 2px rgba(0,0,0,0.25);cursor:pointer;left:-999em;min-height:50px;padding:5px 0 10px;position:absolute;text-align:left;top:5px;width:168px;z-index:10;}
.corp .languages:hover div.drop{left:721px;}
.corp .languages:hover div.drop a{background-image:url(img/bg_flag.png);background-repeat:no-repeat;color:#414042;height:20px;padding:5px 10px 0 40px;text-decoration:none;width:118px;}
.corp .languages > a{background-image:url(img/bg_flag.png);background-repeat:no-repeat;padding-left:40px;padding-top:5px;height:20px;text-align:left;}
.corp .languages:hover div.drop a:hover{background-color:rgb(88%,88%,88%);}
.corp a.flag_aus{background-position:10px 2px;}
.corp a.flag_bra{background-position:10px -23px;}
.corp a.flag_can{background-position:10px -48px;}
.corp a.flag_chi{background-position:10px -73px;}
.corp a.flag_fra{background-position:10px -98px;}
.corp a.flag_ger{background-position:10px -123px;}
.corp a.flag_ind{background-position:10px -148px;}
.corp a.flag_ita{background-position:10px -198px;}
.corp a.flag_jap{background-position:10px -223px;}
.corp a.flag_kor{background-position:10px -248px;}
.corp a.flag_mex{background-position:10px -273px;}
.corp a.flag_swe{background-position:10px -298px;}
.corp a.flag_uki{background-position:10px -323px;}
.corp a.flag_usa{background-position:10px -348px;}
.corp a.flag_spa{background-position:10px -372px;}
.corp a.flag_ase{background-position:10px -396px;}
.corp .searchbox{float:right;margin-top:10px;padding-right:16px;}
.corp .search_btn,
.corp .search_field{background:url(img/bg_search.png) no-repeat -24px 0;border:none;-webkit-border-radius:0px;border-radius:0px;color:#58595B;float:left;font-size:11px;height:18px;padding:1px 10px 0 0;width:83px;}
.corp .lt-ie9 .search_field{padding:3px 10px 0 0;height:16px;}
.corp .search_btn{background-position:0 0;height:19px;padding:0;width:24px;} 

/* ==========================================================================
.corp    Corporate Navigation
.corp    ========================================================================== */
.corp nav ul{font-family:'DaxWeb';list-style:none;margin:0;padding:0;}
.corp nav li{float:left;}
.corp nav#corp ul{display:none;float:left;padding:0 0 0 10px;}
.corp nav#corp li{font-size:12px;}
.corp nav#corp li a{border-left:1px solid #5E5C5C;border-right:1px solid #5E5C5C;border-top:1px solid #5E5C5C;color:#FFF;display:inline-block;height:23px;margin-top:5px;padding:10px 10px 0 10px;text-decoration:none;}
.corp nav#corp li:hover a{background:#FFF;background:rgba(255,255,255,0.9);border-left:1px solid #000;border-right:1px solid #000;border-top:1px solid #000;color:#005596; /* #00A4E4 */}
.corp nav#corp li:hover a.nodrop{background:#5E5C5C;border-left:1px solid #5E5C5C;border-right:1px solid #5E5C5C;border-top:1px solid #5E5C5C;color:#FFF;}
.corp nav#corp li div.overlay{background:#EFEFEF;color:#000;font-size:12px;height:1px;left:0;padding:0 10px;position:absolute;top:-1px;width:auto;z-index:100;}
.corp nav#corp li div.dropdown{background:#FFF;background:rgba(255,255,255,0.9);border:1px solid #000;cursor:pointer;float:left;left:-999em;padding:0 0 5px 0;position:absolute;width:173px;z-index:50;}
.corp nav#corp li div.dropdown a{background:none;border:none;color:#414042;display:block;font-size:11px;height:auto;min-height:16px;padding:7px 10px 5px 10px;width:153px;}
.corp nav#corp li:hover div.dropdown{left:auto;top:39px;}
.corp nav#corp li div.dropdown a:hover{background:#005596;color:#FFF;} 

/* For Site Specific */
.corp nav#site li{margin-right:5px;}
.corp nav#site li a{border-left:1px solid transparent;border-right:1px solid transparent;border-top:1px solid #FFF;color:#58595B;display:block;height:31px;margin:5px 0 0 0;padding:8px 18px 0 18px;text-align:center;text-decoration:none;}
.corp nav#site li:hover a{background:#FFF;background:rgba(255,255,255,0.9);border-left:1px solid #A0A1A3;border-right:1px solid #A0A1A3;border-top:1px solid #A0A1A3;box-shadow:0px 0px 4px 0px rgba(0,0,0,0.25);color:#005596; /* #00A4E4 */} 

/* no dropdown */
.corp nav#site li.single:hover a{border-left:1px solid #FFF;border-right:1px solid #FFF;border-top:1px solid #FFF;}
.corp nav#site li div.overlay,
.corp nav#site li div.nodropcols div.overlay{background:#FFF;color:#000;font-size:1em;height:16px;left:0;overflow:hidden;padding:0 18px;position:absolute;top:-9px;width:auto;z-index:100;}
.corp nav#site li div.overlay{    /*left: 370px;*/}
.corp nav#site li.resource div.dropdown div.overlay{left:150px;}
.corp nav#site li.support div.dropdown div.overlay{left:60px;}
.corp nav#site li div.dropdown{background:#FFF;background:rgba(255,255,255,0.9);border:1px solid #A0A1A3;box-shadow:0px 0px 4px 0px rgba(0,0,0,0.25);cursor:pointer;float:left;left:-999em;padding:15px 0;position:absolute;width:239px;z-index:50;}
.corp nav#site li div.software{width:400px;padding:0px;}
.corp nav#site li div.services{width:400px;padding:0px;} 

/* left based tabs */
.corp nav#site li.lefttab{width:103px;}
.corp .it-IT nav#site li.lefttab,
.corp .es-ES nav#site li.lefttab,
.corp .es-MX nav#site li.lefttab{width:185px;}
.corp nav#site li.lefttab div.dropdown{width:184px;}
.corp .it-IT nav#site li.lefttab div.dropdown,
.corp .es-ES nav#site li.lefttab div.dropdown,
.corp .es-MX nav#site li.lefttab div.dropdown{width:266px;}
.corp nav#site li.lefttab:hover div.dropdown{margin-left:-84px;}
.corp nav#site li.lefttab div.dropdown a{text-align:right;}
.corp nav#site li.lefttab div.dropdown div.overlay{left:auto;right:1px;width:65px;}
.corp .it-IT nav#site li.lefttab div.dropdown div.overlay,
.corp .es-ES nav#site li.lefttab div.dropdown div.overlay,
.corp .es-MX nav#site li.lefttab div.dropdown div.overlay{width:147px;} 

/* alternate */
.corp nav#site li.products div.dropdown{padding:15px 0 0;}
.corp nav#site li.resource div.dropdown{width:435px;}
.corp nav#site li.support div.dropdown{width:280px;}
.corp nav#site li div.dropdown.nodropcols{width:180px;}
.corp nav#site li div.dropdown div.dropcols.services01 a.menu_hover_item1.second_level{font-size:12px;padding-left:25px;}
.corp nav#site li div.dropdown a{background:none;border:none;box-shadow:none;color:#414042;display:block;font-size:13px;height:auto;line-height:14px;margin:0;min-height:10px;padding:5px 12px 3px;text-align:left;width:auto;}
.corp nav#site li div.dropdown a:hover{background:#005596;color:#FFF;}
.corp nav#site li div.dropdown a.normal{padding:0;} 

/* multiple tabs */
.corp nav#site li:hover div.dropdown{left:auto;margin-left:0px;top:44px;}
.corp nav#site li.resource:hover div.dropdown{margin-left:-150px;}
.corp nav#site li.support:hover div.dropdown{margin-left:-60px;}
.corp nav#site li:hover div.dropdown.nodropcols{margin-left:0;padding:8px 0;}
.corp nav#site a#CareerLink{font-weight:bold;}
.corp div.dropcols{float:left;padding:15px 0;margin:0;overflow:visible;width:190px;}
.corp div.dropcols.software01,
.corp div.dropcols.services01{padding:15px 0;}
.corp div.dropcols.software02,
.corp div.dropcols.services02{background:url(img/'img/bg-nav-darker.png') repeat-x 0 1px;background:url(img/"bg_product_nav.png") no-repeat,-moz-linear-gradient(top,rgba(255,255,255,0) 4%,rgba(255,255,255,0.01) 5%,rgba(218,217,217,1) 90%); /* FF3.6+ */background:url(img/"bg_product_nav.png") no-repeat,-webkit-gradient(linear,left top,left bottom,color-stop(4%,rgba(255,255,255,0)),color-stop(5%,rgba(255,255,255,0.01)),color-stop(90%,rgba(218,217,217,1))); /* Chrome,Safari4+ */background:url(img/"bg_product_nav.png") no-repeat,-webkit-linear-gradient(top,rgba(255,255,255,0) 4%,rgba(255,255,255,0.01) 5%,rgba(218,217,217,1) 90%); /* Chrome10+,Safari5.1+ */background:url(img/"bg_product_nav.png") no-repeat,-o-linear-gradient(top,rgba(255,255,255,0) 4%,rgba(255,255,255,0.01) 5%,rgba(218,217,217,1) 90%); /* Opera 11.10+ */background:url(img/"bg_product_nav.png") no-repeat,-ms-linear-gradient(top,rgba(255,255,255,0) 4%,rgba(255,255,255,0.01) 5%,rgba(218,217,217,1) 90%); /* IE10+ */background:url(img/"bg_product_nav.png") no-repeat,linear-gradient(to bottom,rgba(255,255,255,0) 4%,rgba(255,255,255,0.01) 5%,rgba(218,217,217,1) 90%); /* W3C */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#dad9d9',GradientType=0); /* IE6-9 */font-size:13px;min-height:140px;padding:15px 0;width:210px;}
.corp div.dropcols.services02{height:154px;}
.corp .lt-ie10 div.dropcols.software02,
.corp .lt-ie10 div.dropcols.services02{border-left:1px solid #818284;width:209px;}
.corp div.dropcols.software02 figure img,
.corp div.dropcols.services02 figure img{margin-left:20px;}
.corp div.dropcols.software02 .descr,
.corp div.dropcols.services02 .descr{color:#5e5c5d;font-size:12px;line-height:15px;padding:10px 20px 0 20px;text-align:center;}
.corp #slideshow{background:url(img/bg_slideshow.jpg) no-repeat 0 0;background-size:100% 502px;border-bottom:1px solid #9DA6AB;border-top:1px solid #BBD8E7;height:430px;position:relative;}
.corp #slide{height:430px;width:872px;}
.corp #slide img{background:none!important;height:430px;left:0;position:absolute;top:0;width:500px;}
.corp #pager{bottom:10px;height:25px;position:absolute;right:50px;width:auto;z-index:50;}
.corp #pager a{background:url(img/bg_checkbox.png) no-repeat 0 0;display:block;float:left;height:21px;margin-left:3px;text-indent:-999em;width:21px;}
.corp #pager a:hover,
.corp #pager a.activeSlide{background-position:0 -42px;}
.corp #slide img ~ img,
.corp .captions ~ .captions{display:none;}
.corp .captions{color:#4C4C4C;font-size:13px;height:auto;padding:0 50px 0 22px;position:absolute;right:0;top:180px;width:300px;z-index:20;}
.corp .captions h3{color:#000;font-family:'DaxWeb';font-size:27px;line-height:32px;padding-bottom:15px;}
.corp .captions h3 strong,
.corp .captions h3 b{font-family:'DaxWeb-Bold';font-weight:normal;}
.corp .captions p{line-height:15px;padding-bottom:20px;}
.corp .captions a{font-weight:bold;}
.corp #explore{background:rgb(230,231,233); /* Old browsers */background:-moz-linear-gradient(top,rgba(230,231,233,1) 8%,rgba(255,255,255,1) 55%); /* FF3.6+ */background:-webkit-gradient(linear,left top,left bottom,color-stop(8%,rgba(230,231,233,1)),color-stop(55%,rgba(255,255,255,1))); /* Chrome,Safari4+ */background:-webkit-linear-gradient(top,rgba(230,231,233,1) 8%,rgba(255,255,255,1) 55%); /* Chrome10+,Safari5.1+ */background:-o-linear-gradient(top,rgba(230,231,233,1) 8%,rgba(255,255,255,1) 55%); /* Opera 11.10+ */background:-ms-linear-gradient(top,rgba(230,231,233,1) 8%,rgba(255,255,255,1) 55%); /* IE10+ */background:linear-gradient(to bottom,rgba(230,231,233,1) 8%,rgba(255,255,255,1) 55%); /* W3C */filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e7e9',endColorstr='#ffffff',GradientType=0); /* IE6-9 */-webkit-box-shadow:0px 4px 5px 2px rgba(0,0,0,.35);box-shadow:0px 4px 5px 2px rgba(0,0,0,.35);font-size:11px;height:326px;position:relative;}
.corp #explore section{background:url(img/bg_explore.png) no-repeat 0 94px;height:100%;z-index:20;}
.corp #explore h2{min-height:46px;padding-top:16px;}
.corp #explore p{bottom:24px;color:#5D5D5D;display:block;font-size:18px;left:0;line-height:22px;position:absolute;text-align:center;width:100%;}
.corp #explore p ~ p{display:none;}
.corp #explore #elevation{background:url(img/bg_elevation.png) no-repeat 0 0;height:56px;left:50%;margin-left:-367px;position:absolute;top:-42px;width:734px;}
.corp #explore .thumb{background:#FFF;border-radius:50%;-webkit-box-shadow:0px 18px 20px 0px rgba(0,0,0,.15);box-shadow:0px 18px 20px 0px rgba(0,0,0,.15);height:154px;overflow:hidden;position:absolute;-webkit-transition:all 0.15s ease-in;-o-transition:all 0.15s ease-in;-moz-transition:all 0.15s ease-in;-ms-transition:all 0.15s ease-in;transition:all 0.15s ease-in;width:154px;}
.corp #explore .thumb a{border:1px solid #555;border-radius:50%;display:block;height:88%;margin:5.5%;overflow:hidden;width:88%;}
.corp #explore .thumb a img{border-radius:50%;max-width:100%;}
.corp #explore .thumb.current,
.corp #explore .thumb.ie-current{-webkit-box-shadow:0px 22px 22px 0px rgba(255,0,0,.3);box-shadow:0px 22px 22px 0px rgba(255,0,0,.3);}
.corp #explore .thumb.current{height:172px;width:172px;}
.corp #explore .thumb.current.one{left:102px;top:44px;}
.corp #explore .thumb.current.two{margin-left:-86px;top:25px;}
.corp #explore .thumb.current.three{right:102px;top:44px;}
.corp #explore .thumb.one{left:110px;top:80px;}
.corp #explore .thumb.two{left:50%;margin-left:-78px;top:52px;}
.corp #explore .thumb.three{right:110px;top:80px;}
.corp .lt-ie9 #explore a{border:none;}
.corp .lt-ie9 #explore a img{visibility:hidden;}
.corp #explore .subtitle{bottom:67px;color:#231F20;cursor:default;font-family:'DaxWeb';font-size:17px;height:20px;position:absolute;text-align:center;width:134px;z-index:10;}
.corp #explore .subtitle.one{left:120px;}
.corp #explore .subtitle.two{bottom:95px;left:50%;margin-left:-67px;}
.corp #explore .subtitle.three{right:120px;}
.corp #atcx{background-color:#ccc;height:68px;position:relative;box-shadow:0 4px 5px 2px rgba(0,0,0,0.35);border-top:1px solid #a0a0a0;overflow:hidden;}
.corp #atcx > section > img{vertical-align:top;margin:7px 0.75em 0 60px;position:relative;top:0;}
.corp #atcx > section > img.colors{top:-61px;}
.corp #atcx > section > h2{display:inline-block;font-family:DaxCompactWeb;margin:11px 0.33em 2px 0;font-size:35px;color:#fff;}
.corp #atcx > section > a{color:#fff;text-decoration:underline;float:right;line-height:1.2;border-left:1px solid;margin:7px 58px 0 0;padding:6px 0 10px 19px;}
.corp #atcx > section > span{color:#fff;}
.corp #stories{background:#F7F7F7;border-bottom:1px solid #E7E7E7;min-height:306px;padding-bottom:20px;text-align:center;}
.corp #stories h2{min-height:56px;padding-top:16px;width:100%;}
.corp #stories figure,
.corp #stories .reports{float:left;min-height:205px;text-align:left;width:252px;}
.corp #stories figure img{border:1px solid #CCC;margin-bottom:10px;}
.corp #stories figcaption,
.corp #stories h3{font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:16px;min-height:20px;width:100%;}
.corp #stories h3{padding-bottom:15px;}
.corp #stories .reports{padding:0 0 0 50px;width:260px;}
.corp #stories .reports span{display:block;font-family:'DaxCompactWeb-Bold';font-size:15px;padding-bottom:15px;}
.corp #stories .reports a{display:block;}
.corp #videos{background:#F7F7F7;border-bottom:1px solid #E3E3E3;-webkit-box-shadow:0px 4px 5px 2px rgba(0,0,0,.35);box-shadow:0px 4px 5px 2px rgba(0,0,0,.35);font-size:12px;height:330px;text-align:center;}
.corp #videos section{width:774px;}
.corp #videos h2{padding:15px 0 10px 0;}
.corp #videos h3{font-family:'DaxCompactWeb-Bold';font-size:18px;padding-top:8px;text-transform:uppercase;}
.corp #videos ul{display:block;height:238px;list-style:none;margin:0 auto;overflow:hidden;padding:0;width:774px;}
.corp #videos li{display:block;float:left;height:238px;margin:0 10px;position:relative;text-align:center;width:238px;}
.corp #videos li a{font-family:'DaxWeb';font-size:14px;}
.corp #videos a#next1{background-position:-35px -50px;left:auto;right:-48px;}
.corp #videos a#prev1:hover{background-position:0 0;}
.corp #videos a#next1:hover{background-position:-35px 0;}
.corp #social{border-bottom:1px solid #E7E7E7;height:134px;}
.corp #social section{height:94px;padding:24px 32px 16px;width:816px;}
.corp #social .offices{float:left;height:94px;width:380px;}
.corp #social .offices .txt{display:table;font-family:'DaxCompactWeb';font-size:16px;line-height:24px;height:94px;width:255px;}
.corp #social .offices .txt span{display:table-cell;vertical-align:middle;}
.corp #social .subscribe{color:#222;float:right;font-family:'DaxCompactWeb';font-size:14px;height:94px;line-height:17px;padding-right:32px;text-align:right;width:auto;}
.corp #social .subscribe a{font-family:'DaxCompactWeb-Bold';}
.corp #social .subscribe span{font-size:12px;}
.corp #social input[type="email"],
.corp #social input[type="text"]{border:1px solid #CCC;color:#999;float:left;font-size:10px;height:18px;margin-top:5px;padding:0 5px;-webkit-transition:color 0.3s;-moz-transition:color 0.3s;-o-transition:color 0.3s;-ms-transition:color 0.3s;transition:color 0.3s;width:180px;}
.corp .lt-ie9 #social input[type="email"],
.corp .lt-ie9 #social input[type="text"]{height:16px;padding:2px 5px 0;}
.corp #social input[type="email"]:focus,
.corp #social input[type="text"]:focus{color:#000;}
.corp #social input:invalid{box-shadow:none;}
.corp .newstabletop{margin-bottom:3px;}
.corp .newsFilter{float:right;}
.corp .subscribe ul{float:right;list-style:none;margin:10px 0 0;padding:0;}
.corp .subscribe li{float:left;padding-left:15px;}
.corp .subscribe li ~ li{background:url(img/bg_divider.png) no-repeat -1px 0;}
.corp .subscribe li a{display:block;height:25px;width:25px;}
.corp footer{color:#999;font-family:Arial,Helvetica,sans-serif;font-size:12px;height:100px;padding:20px 0 0 0;text-align:center;}
.corp footer a{color:#999;text-decoration:none;}
.corp footer a:hover{text-decoration:underline;} 

/*
.corp a.btn, #social input[type="submit"] { background: #FFF; border: 1px solid #E3E3E3; -webkit-border-radius: 12.5px; border-radius: 12.5px; color: #00A4E4; display: inline-block; font-family: Arial, Helvetica, sans-serif; font-size: 13.12px; font-weight: bold; height: 17px; line-height: 18px; padding: 4px 40px; text-decoration: none; text-transform: uppercase; }
.corp a.btn:hover, #social input[type="submit"], #videos a.btn { background: #00A4E4; border: 1px solid #00A4E4; color: #FFF; } 

.corp */
.corp #social input[type="submit"]{float:left;font-size:12px;height:20px;margin:5px 0 0 10px;padding:0 12px;}
.corp #social input[type="submit"]:hover,
.corp #videos a.btn:hover{background:#FFF;border:1px solid #CCC;color:#00A4E4;}
.corp .lb_caption{color:#000;font-family:'DaxCompactWeb';font-size:16px;}
.corp .no-js nav#corp ul,
.corp .no-js .logo{display:block;}
.corp .no-js .company{display:none;} 

/* ==========================================================================
.corp    Media Queries
.corp    ========================================================================== */
@media only screen and (min-device-width:320px) and (max-device-width:568px) and (orientation:landscape){
.corp     .contact_form{min-height:490px;padding:25px 50px 5px 50px;}
.corp     .contact_form .divider,
.corp     .contact_form address{min-height:400px;}
.corp     .contact_form h2{font-size:32px;height:60px;}
.corp     .contact_form textarea{height:70px;}
.corp     .contact_form input[type="submit"]{margin-top:0;}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1){
.corp     .contact_form{min-height:490px;padding:25px 50px 5px 50px;}
.corp     .contact_form .divider,
.corp     .contact_form address{min-height:400px;}
.corp     .contact_form h2{font-size:32px;height:60px;}
.corp     .contact_form textarea{height:70px;}
.corp     .contact_form input[type="submit"]{margin-top:0;}
}
.corp .details_form{background:#FFF;-webkit-border-radius:20px;border-radius:20px;color:#333;display:none;font-family:Arial,sans-serif;font-size:14px;min-height:300px;padding:45px 50px;width:440px;position:absolute;top:30px;z-index:5;left:80px;box-shadow:0 0 20px rgba(0,0,0,0.75);}
.corp .details_form.second{left:-255px;}
.corp #resource_overlay{width:100%;height:100%;display:none;background-color:rgba(0,0,0,0.7);z-index:100;position:absolute;top:0;} 

/* Slider style From style.css line 448 - 470*/
.corp #slider_nav{bottom:15px;height:25px;position:absolute;right:18px;width:70px;z-index:50;}
.corp #slider_nav a.activeSlide,
.corp #slider_nav a:hover{background-position:0 -25px;} 

/* End slider */.corp 

/*#endregion*/
.corp .show{display:block;}
.corp .hide{display:none;}
.corp input[type=checkbox] + label{margin-left:3px;}
.corp .floatright{float:right;}
.corp div.dropcols{float:left;padding:15px 0;margin:0;overflow:visible;width:190px;}
.corp #corpHeader div.dropcols.software02,
.corp #corpHeader div.dropcols.services02{width:210px;} 

/* corporate header override */
.corp html{margin-top:90px;}
.corp #corpHeader .invisible{visibility:hidden;}
.corp #corpHeader nav#site li:hover div.dropdown{top:44px;}
.corp header#corpHeader{z-index:900!important;}
.corp #navigation{z-index:800;top:91px;}
.corp #corpHeader div.overlay,
.corp #corpHeader nav#site li.lefttab div.dropdown div.overlay{width:65px;}
.corp #corpHeader nav#site li > a{height:42px;}
.corp #corpHeader .lefttab:hover div.dropdown{left:auto;margin-left:0;top:44px;position:relative;top:0;right:-2px;top:0!important;}
.corp .altair div.dropcols.software02,
.corp #corpHeader div.dropcols.services02{height:auto;min-height:140px;}
.corp #corpHeader nav#site li div.dropdown figure  a:hover{background:transparent;}
.corp #corpHeader .software01{width:188px;}
.corp .floatleft{float:left;}
.corp .doc{width:800px;margin:0 auto;}
.corp a.btn,
.corp #social input[type="submit"]{background:#FFF;border:1px solid #E3E3E3;-webkit-border-radius:12.5px;border-radius:12.5px;color:#00A4E4;display:inline-block;font-family:Arial,Helvetica,sans-serif;font-size:13.12px;font-weight:bold;height:17px;line-height:18px;padding:4px 40px;text-decoration:none;text-transform:uppercase;}
.corp a.btn:hover,
.corp #social input[type="submit"],
.corp #videos a.btn{background:#00A4E4;border:1px solid #00A4E4;color:#FFF;}
.corp #social input[type="submit"]{float:left;font-size:12px;height:20px;margin:5px 0 0 10px;padding:0 12px;}
.corp a.flag_usa{background-position:10px -373px;}
.corp #altairHeader{margin-bottom:2em;}
.corp #instructions{margin-bottom:50px;overflow:hidden;}


/*
-----------------------------------
Custom styles
-----------------------------------
*/

body .corp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    min-width: 1024px;
}

body.altair {margin-top:94px;}